.btn {
  width: 298px;
  height: 54px;
  background: $orange-gradient;
  border-radius: 25px;
  @include font-rules (16px, 500, 140%);
  text-align: center;
  text-transform: uppercase;
  color: $white;
  padding: 16px 0 0 4px;

  &:hover {
    @include hover-back-effect($hover-btn-color, background 0.5s ease-in-out);
  }

  &:active {
    @include hover-back-effect($active-btn-color, background 0.5s ease-in-out);
  }

  &:disabled {
    @include hover-back-effect($gray-color, background 0.5s ease-in-out);
  }
}