$active-btn-color: #4b9200;
$hover-btn-color: #e47209;

$black: #000;
$dark-cyan-blue-text-color: #333b41;
$gray-color: #767474;
$light-gray: #bdbdbd;

$background-gray: #c4c4c480;
$background-footer: #111115;
$background-submit: #F1F3F2;

$white: #fff;
$light-white: #fdfdff85;

$yellow: #ffee2e;
$red: #d31414;
$orange: #fe9013;
$orange-gradient: #f9804b linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$orange-light-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);

$border-orange-color: #f9804b;
$outline-orange-color: #fa6f32;
$border-orange-gradient-color: linear-gradient(#f1f3f2 0 0) padding-box, linear-gradient(-45deg, #febdab, #f3a9f8a8, #e0d8f0 100%, #eaf7fe 100%, #eaf7fe 100%);
$border-thumb-gradient: linear-gradient(-45deg, #febdab, #f3a9f8a8 , #e0d8f0, #eaf7fe);